<h1>Book Edit</h1>

<h2>Edit the book: </h2>
<h2><%= @book.title %></h2>
<h2><%= @book.author %></h2>
<h2><%= @book.isbn %></h2>
<h2><%= @book.publisher %></h2>

<form action="/books/<%= @book.id%>" method="post">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<input type="text" name="title" value="<%= @book.title %>">
	<input type="text" name="author" value="<%= @book.author %>">
	<input type="text" name="isbn" value="<%= @book.isbn %>">
	<input type="text" name="publisher" value="<%= @book.publisher %>">

	<input type="submit" id="submit" value="submit">
</form>

<form action="/books/<%=@book.id%>/delete" method="post">
	<input type="submit" value="Delete Book">
</form>


<br><br>
<h3><a href="/books">Home Page</a></h3>
