<h1>Book Index </h1>

<h1>Welcome!</h1>
<h2>Here is a list of books:</h2>

<% @books.each do |book| %>
	<h4>Book ID: <%= book.id %></h4>
	<h4>Title: <%= book.title %></h4>
	<h4>Author: <%= book.author %></h4>
	<h4>ISBN: <%= book.isbn %></h4>
	<h4>Publisher: <%= book.publisher %></h4>
	<h4><a href="/books/<%= book.id %>/edit"> Edit this book?</a></h4>
	<br>
<% end %> 

<br><br>

<h3><a href="/books">Home Page</a></h3>